/* Kropka do instrukcji w sidebarze */
.leftSidebarDot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #4A5565;
    display: inline-block;
    margin-right: 8px;
}
.leftSidebar {
    width: 700px !important;
    /* min-height: 100vh; */
    /* height: 100%; */
    /* background-color: lightgreen; */
    /* border-right: 3px solid blueviolet; */
    display: flex;
    flex-direction: row;
}

.leftSidebarContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.leftSidebarContainerTop {
    width: 100%;
    /* background-color: lightblue; */
    height: 65px;
}

.leftSidebarContainerTopContainer {
    width: 100%;
    height: 100%;

    /* background-color: lightgreen; */
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leftSidebarContainerTopContainerRightContainerOneContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.leftSidebarContainerTopContainerRightContainerOneContainerButton {
    background-color: #0F172B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 6px 12px;
    border-radius: 8px;
}

.leftSidebarContainerTopContainerRightContainerOneContainerButtonTwoText {
    color: #F8FAEF;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.leftSidebarContainerTopContainerRightContainerDivider {
    width: 100%;
}

.leftSidebarContainerTopContainerRightContainerDividerLine {
    width: 100%;
    height: 1px;
    background-color: #E2E8F0;
}


.leftSidebarContainerTopContainerRightContainerOneContainerTwo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftSidebarContainerTopContainerRightContainerOneContainerOne {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leftSidebarContainerTopContainerRightContainerOneContainerOneContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leftSidebarContainerTopContainerRightContainerOneContainerOneContainerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leftSidebarContainerTopContainerRightContainerOneContainerOneContainerDivText {
    display: flex;
    white-space: nowrap;
    color: #0F172B;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.leftSidebarContainerTopContainerRightContainerOneContainerTwoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.leftSidebarContainerTopContainerLeftContainerText {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #020618;
}



.leftSidebarContainerTopContainerRightContainerTwoContainerOneContainerContainerIcon,
.leftSidebarContainerTopContainerRightContainerThreeContainerOneContainerRightContainerIcon,
.leftSidebarContainerTopContainerRightContainerFourContainerOneContainerRightContainerIcon {
    transform: rotate(180deg);
    color: #62748E
}










.leftSidebarContainerBottom {
    /* background-color: lightcyan; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    /* background-color: red; */
    gap: 8.4px;
}

.leftSidebarContainerTopContainerRightContainerTwoContainerOneContainer,
.leftSidebarContainerTopContainerRightContainerThreeContainerOneContainer,
.leftSidebarContainerTopContainerRightContainerFourContainerOneContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: red; */
}

.leftSidebarContainerTopContainerRightContainerTwoContainerOneLeftContainer,
.leftSidebarContainerTopContainerRightContainerThreeContainerOneContainerLeftContainer,
.leftSidebarContainerTopContainerRightContainerFourContainerOneContainerLeftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.leftSidebarContainerTopContainerRightContainerTwoContainerOneLeftContainerTwoContainerText,
.leftSidebarContainerTopContainerRightContainerThreeContainerOneContainerLeftContainerTwoContainerText,
.leftSidebarContainerTopContainerRightContainerFourContainerOneContainerLeftContainerTwoContainerText {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}


.leftSidebarContainerTopContainerRightContainerTwoContainerOneLeftContainerThreeContainer,
.leftSidebarContainerTopContainerRightContainerThreeContainerOneContainerLeftContainerThreeContainer {
    background-color: #F1F5F9;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}

.leftSidebarContainerTopContainerRightContainerTwoContainerOneLeftContainerThreeContainerDivText,
.leftSidebarContainerTopContainerRightContainerThreeContainerOneContainerLeftContainerThreeContainerDivText {
    font-size: 14px;
    font-weight: 400;
}



.leftSidebarContainerTopContainerRightContainerDividerTwo {
    width: 100%;
}

.leftSidebarContainerTopContainerRightContainerDividerTwoLine {
    width: 100%;
    height: 1px;
    background-color: #E2E8F0;
}


.leftSidebarContainerTopContainerRightContainerFourContainerTwoContainerElementContainer {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}

.leftSidebarContainerTopContainerRightContainerFourContainerTwoContainerElementContainerLeftContainerIcon {
    width: 18px;
    height: 18px;
}

.leftSidebarDivier {
    width: 1px;
    height: 100vh;
    background-color: #E2E8F0;
}

.leftSidebarContainerTopContainerRightContainerTwoContainerOneLeftContainerOneContainerIcon,
.leftSidebarContainerTopContainerRightContainerThreeContainerOneContainerLeftContainerOneContainerIcon,
.leftSidebarContainerTopContainerRightContainerFourContainerOneContainerLeftContainerOneContainerIcon {
    color: #020618;
}

.leftSidebarContainerTopContainerRightContainerOneContainerTwoContainerInfo {
    color: #6A7282;
    width: 17px;
    height: 17px;
}

.leftSidebarContainerTopContainerRightContainerFourContainerTwoContainerElementContainerRightContainerText,
.leftSidebarContainerTopContainerRightContainerFourContainerTwoContainerElementContainerRightContainerText,
.leftSidebarContainerTopContainerRightContainerFourContainerTwoContainerElementContainerRightContainerText,
.leftSidebarContainerTopContainerRightContainerFourContainerTwoContainerElementContainerRightContainerText {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #4A5565;
}