.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  /* background-color: #f8f9fa; */
  transition: width 0.3s ease;
}

.home--desktop {
  width: 100vw;
}

.home--mobile {
  width: 100vw;
}