.settings {
  width: 256px;
  /* max-width: 400px; */
  height: 178px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  border: 1px solid #E2E8F0;
}

.settingsContainer {
  /* padding: 24px; */
  padding: 17px;
}

.settingsHeader {
  /* margin-bottom: 24px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settingsHeaderTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-bottom: 4px; */
}

.settingsCloseButton {
  background: none;
  border: none;
  cursor: pointer;
  /* padding: 4px; */
  /* border-radius: 4px; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.settingsCloseButton:hover {
  background-color: #f1f5f9;
}

.settingsCloseIcon {
  /* width: 16px; */
  /* height: 16px; */
  color: #64748b;
}

.settingsTitle {
  /* font-size: 18px;
  font-weight: 600;
  color: #111827;
  margin: 0 0 4px 0; */
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #020618;
}

.settingsSubtitle {
  /* font-size: 14px; */
  /* color: #6b7280; */
  /* margin: 0; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #62748E;
}

.settingsList {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  margin-top: 16px;
  gap: 12px;
  /* gap: 16px; */
}

.settingsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 12px 0; */
}

.settingsItemLabel {
  display: flex;
  align-items: center;
}

.settingsItemText {
  /* font-size: 14px; */
  /* font-weight: 500; */
  /* color: #111827; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #020618;
}

.settingsItemToggle {
  display: flex;
  align-items: center;
}

.toggleSwitch {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #e2e8f0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  padding: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.toggleSwitch.active {
  background-color: #0F172B;
  /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); */
}

.toggleSwitchKnob {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.toggleSwitch.active .toggleSwitchKnob {
  transform: translateX(16px);
}

.toggleSwitch:hover {
  background-color: #cbd5e1;
}

.toggleSwitch.active:hover {
  background-color: #2563eb;
}

.toggleSwitch:active .toggleSwitchKnob {
  transform: scale(0.95);
}

.toggleSwitch.active:active .toggleSwitchKnob {
  transform: translateX(16px) scale(0.95);
} 